# ЗАПУСКАТЬ В ВИРТУАЛЬНОМ ПРОСТРАНСТВЕ!
# source venv/bin/activate
#
# pip install -r requirements.txt
# Зависимости для работы с Любимая КОБзона
torch
torchaudio
torchvision
git+https://github.com/m-bain/whisperX.git
python-docx
huggingface_hub
PyQt6==6.10.2
# Рабочая версия requests==2.34.2
requests

# Для RAG
faiss-cpu
#faiss-gpu
openai
# Зайдите на https://huggingface.co — зарегистрируйтесь
# Создайте токен: Settings → Access Tokens → New Token (Read)
# Залогиньтесь:
#	hf auth login
# Вставьте токен когда попросит, при печатании токена не видно будет букв
